/node_modules
/dist
/coverage
/.angular
/.idea
/.vscode/*
!/.vscode/extensions.json
.DS_Store
npm-debug.log*
/android/.gradle
/android/local.properties
/android/**/build
/android/.kotlin
/android/.signing
/android/*.jks
/android/keystore.properties
/src/assets/downloads/*.apk
